/data/*

!/data/fragmented_csv/
!/data/fragmented_log/
!/data/fragmented_jpg/
!/data/fragmented_html/
!/data/fragmented_gz/
!/data/male_posts_technology/
!/data/female_posts_technology/
!/data/male_posts_student/
!/data/female_posts_student/

feature_vectors/
